<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calcula!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h2 ng-init="numAleatorio()">Calcula la suma dels següents números</h2>
    <p class="numbers">Primer número: {{ num1 }}</p>
    <p class="numbers">Segon número: {{ num2 }}</p>
    <p *ngIf="count > 0" class="numbers">N<span class="hidden">ombre</span> Intents: {{ count }}</p>
    
    <form *ngIf="!check && count < 5">
      <ion-item>
        <ion-label position="floating" for="checklabel">Valor de la suma</ion-label>
        <ion-input autofocus="true" clearInput type="number" min="1" max="200" name="checklabel" [(ngModel)] = "num"></ion-input>
      </ion-item>
      <ion-button (click)="checkAnswer()">Comprova</ion-button>
    </form>

    <!-- TODO: Insert the new button here -->
  </div>
  <ion-card>
    <ion-card-content>
      <ion-card-header *ngIf="count < 5">
        <ion-card-title>
          {{ result }}
        </ion-card-title>
      </ion-card-header>

      <div>
        <div *ngIf="check" style="width:100%;height:0;padding-bottom:45%;position:relative;">
          <span class="hidden">Animació de victòria</span>
          <iframe src="https://giphy.com/embed/MOWPkhRAUbR7i" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
        
        <div *ngIf="fail && count < 5" style="width:100%;height:0;padding-bottom:62%;position:relative;">
          <span class="hidden">Animació d'error</span>
          <iframe src="https://giphy.com/embed/Ly6FB6xRSJlW8" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
        
        <div *ngIf="count > 4" style="width:100%;height:0;padding-bottom:80%;position:relative;">
          <span class="hidden">Animació de Game Over</span>
          <iframe src="https://giphy.com/embed/dkuZHIQsslFfy" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>

        <div *ngIf="check || (fail && count > 5)">
          <p class="score">
            Has necessitat {{ count }} {{ word }}.
          </p>
          <p [ngClass]="{'good': count==1, 'bad': count>3}" class="message">
            {{ msg }}
          </p>
        </div>
      </div>
    </ion-card-content>
    
    
    
    <!--<p><a href="https://giphy.com/gifs/minions-Ly6FB6xRSJlW8">via GIPHY</a></p>
    <p>
      <a href="https://giphy.com/gifs/excited-applause-minions-MOWPkhRAUbR7i">via GIPHY

    </a>
    </p>-->
  </ion-card>
</ion-content>
